@import '../App.scss';

.navigator {
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
}

.navigator__container {
  display: flex;
  flex-flow: row nowrap;
}

.navigator__back {
  display: flex;
  align-items: flex-end;
  padding: 0.5rem;
  flex: 1;
  text-align: left;
}

.navigator__tabs {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: flex-end;
  padding-top: 1rem;

  a {
    position: relative;
    min-width: 14rem;
    margin: 0;
    margin-left: -1px;
    padding: 0.8rem 2rem;
    border: 1px solid var(--main-color);
    border-bottom: 0;
    border-radius: 5px 5px 0 0;
    line-height: 1;
    text-align: center;

    display: flex;
    justify-content: center;
    align-items: baseline;

    &:first-child {
      border-top-left-radius: 12px;
    }

    &:last-child {
      border-top-right-radius: 12px;
    }
    
    
    &.active {
      padding: 1rem 2rem;
      border-radius: 5px 5px 0 0;

      
      :first-child {
        border-radius: 5px 0 0 0;
      }

      :last-child {
        border-radius: 0 5px 0 0;
      }

      &::after {
        content: '';
        position: absolute;
        bottom: -1px;
        background: #fff;
        height: 1px;
        right: 0;
        left: 0;
        z-index: 10;
      }
    }

    
    svg {
      margin-right: 10px;
      font-size: 1.2rem;
    }
  }

}

.contacts {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  flex: 1;
  margin-right: -2px;
  padding-top: 1rem;
  text-align: right;

  a {
    padding: 0 0 .75rem 0;
    line-height: 1;
    margin: 0 0.5rem;
    font-size: 2rem;
    color: var(--main-color);
  }
}


.contacts__link--velog {
  font-size: 0.8rem;
}

.navigator__base {
  border: 1px solid var(--main-color);
  border-bottom: 0;
  border-radius: 1rem 1rem 0 0;
  height: 1.5rem;
  flex-grow: 1;
  width: 100%;
}