.navigator {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.contact {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    flex: 1;
    margin-right: -2px;
    text-align: right;
    font-size: 1.5rem;
}

.contact a {
  padding: 0 0 .75rem 0 !important;
    line-height: 1;
    margin: 0;
}
/* 여기까지 */

.nav {
    --radius1: 5px;
    --radius2: 10px;
    --radius3: 1rem;
    --nav-pad-x: .85rem;
    --nav-pad-y: 1.75rem;
    --nav-pad-x-increase: 1.05rem;
    
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: flex-end;
}

.bar {
    border: 1px solid var(--blue);
    border-bottom: 0;
    border-radius: 1rem 1rem 0 0;
    height: 1.5rem;
    flex-grow: 1;
    width: 100%;
}

.nav a {
    padding: var(--nav-pad-x) var(--nav-pad-y) !important;
    border: 1px solid var(--blue);
    border-bottom: 0;
    margin: 0;
    border-radius: var(--radius1) var(--radius1) 0 0;
    line-height: 1;
    min-width: 12rem;
    position: relative;
}

body.homepage .nav a[rel="home_page"],
[data-bodyview] .page .nav a.active {
    border-bottom: 0 !important;
    padding: var(--nav-pad-x-increase) var(--nav-pad-y) !important;
}

body.homepage .nav a[rel="home_page"]:active,
[data-bodyview] .page .nav a.active:active {
    opacity: 1 !important;
}

body.homepage .nav a[rel="home_page"]:after,
[data-bodyview] .page .nav a.active:after {
    content: '';
    position: absolute;
    bottom: -1px;
    background: white;
    height: 1px;
    right: 0;
    left: 0;
    z-index: 9999;
}

.nav a + a {
    margin-left: -1px !important;
}

/* First Button */
.nav a:first-child {
    border-radius: var(--radius2) var(--radius1) 0 0;
}
.nav a.adjacent-left:first-child {
    border-radius: var(--radius2) 0 0 0 !important;
}
body.homepage .nav a[rel="home_page"]:first-child,
body.homepage .nav a[rel="home_page"].active {
    border-radius: var(--radius2) 0 0 0 !important;
}
body.homepage .nav a[rel="home_page"] + a {
    border-radius: 0 var(--radius1) 0 0 !important;
}

/* last Button */
.nav a:last-child {
    border-radius: var(--radius1) var(--radius2) 0 0 !important;
}
.nav a.active:last-child, 
.nav a.adjacent-right:last-child {
    border-radius: 0 var(--radius2) 0 0 !important;
}


/* adjacents */
.nav a.adjacent-left {
    border-radius: var(--radius1) 0 0 0 !important;
}
.nav a.adjacent-right {
    border-radius: 0 var(--radius1) 0 0 !important;
}
.nav a.active {
    border-radius: var(--radius1) var(--radius1) 0 0 !important;
}

.nav .bolt {
    position: absolute;
    left: .5rem;
    top: 50%;
    width: auto !important;
    height: 1.6rem;
    transform: translate(50%, -50%);
}

.top-nav {
    --nav-pad-y: .25rem;
}

.top-nav .nav a {
	min-width: 11rem !important;
}
