.portfolios {
  display: flex;
  flex-flow: row-reverse nowrap;
  justify-content: flex-start;
  row-gap: 1px;
	column-gap: 1px;
  min-height: calc(100vh - 100px);
}

.say {
  display: flex;
  flex-flow: row nowrap;
  flex: 0 0 27vw;
  padding: 5rem 2rem 5rem 1rem;
  font-size: 1rem;
  line-height: 1.4rem;
  text-align: right;
  justify-content: flex-end;
}

.say__item {
  margin-bottom: 1rem;
}

.say__item .bold {
  font-weight: 600;
}

.grid {
  flex: 1 1 75vw;
  display: grid;
  grid-template-rows: repeat(auto-fit, minmax(100px, auto));
  grid-template-columns: repeat(auto-fit, minmax(33.32%, auto));
}

.grid__item {
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.grid__item--inner {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,.1);
}

.grid__item--image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  transition: opacity .45s cubic-bezier(.15,.75,.5,1) 0s, transform .45s cubic-bezier(.15,.75,.5,1) 0s;
  font-size: 1.4rem;
  background-size: cover;
  background-position: center;
  background-image: url('https://dummyimage.com/600x400/cccccc/fff');
}

.grid__item:hover .grid__item--image {
  transform: scale(1.2);
}

.grid__item--overlay {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 3rem 2rem;
  z-index: 0;
  background-color: rgba(255, 0, 0, 20%);
  transition: opacity .45s cubic-bezier(.15,.75,.5,1) 0s, transform .45s cubic-bezier(.15,.75,.5,1) 0s;
  color: #fff;
  text-align: left;
  font-size: 1.5rem;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: flex-start;
}

.grid__item:hover .grid__item--overlay {
  opacity: 1;
}